.chat-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-message__from {
  font-size: small;
  font-weight: bold;
  color: var(--text-secondary);
}

.chat-message__content {
  background: var(--background-primary);
  padding: 12px;
  border-radius: 12px;
}

.chat-message__text {
  font-size: larger;
  color: var(--text-primary);
}

.chat-message__attachments {
  margin-top: 8px;
}
