.global-ai-overlay {
  padding: 20px;
}

.global-ai-overlay__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: larger;
  color: #fff;
  border-radius: 50px;
}

.global-ai-overlay__content-loader {
  animation: loader-animation 1s ease infinite;
}

.global-ai-overlay__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  max-width: 720px;
}

.global-ai-overlay__content-suggestions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.global-ai-overlay__content-suggestions > button{
  color: var(--text-primary);
  background: rgba(0, 0, 0, 0.03);
  border-color: var(--text-primary);
}

.global-ai-overlay__content-suggestions > button:hover {
  color: var(--text-inverted);
  background: var(--background-inverted);
  border-color: var(--text-primary);
}


.global-ai-overlay__content-chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.global-ai-overlay__content-chat-input {
  width: 100%;
}

@keyframes loader-animation {
  50% {
    opacity: 0.75;
  }
}