.global-ai-overlay .overlay__content {
  padding: 20px;
}

.global-ai-overlay__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.global-ai-overlay__content-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}